* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
